* {
  margin: 0%;
  padding: 0%;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}
body {
  width: 100%;
}
header {
  font-family: "Montserrat", sans-serif;
}
header a {
  text-decoration: none;
  color: white;
}
header h2 {
  top: 0%;
  position: absolute;
  color: ivory;
  margin: 0.5% 0% 0% 18%;
  font-size: 220%;
}
header h3 {
  top: 5%;
  position: absolute;
  color: ivory;
  margin-left: 18%;
}
header nav ul {
  top: 1%;
  left: 40%;
  position: absolute;
  clear: right;
  margin: 0% 0% 0% 0%;
  color: ivory;
  height: 5%;
  width: 50%;
}
header nav ul li {
  float: left;
  list-style: none;
  margin: 1% 3% 0% 3%;
  font-size: 120%;
  font-weight: 300;
}
header nav ul li img {
  border-radius: 2em;
  height: 100%;
  width: 25%;
  color: white;
  margin: 0em 0em 0em 0em;
}
header nav ul li p {
  color: ivory;
  top: 0.6rem;
  left: 70.5%;
  position: absolute;
}
header #partner-tag {
  position: absolute;
  color: white;
  top: 20%;
  left: 15%;
}
header #partner-tag h1 {
  font-weight: 400;
  font-size: 250%;
}
header #partner-tag p {
  font-weight: 400;
  font-size: 120%;
  margin: 1em 1em 1em 0em;
  width: 100%;
  cursor: no-drop;
}

/*                          debug                */

header #partner-tag #button-1 {
  color: white;
  background-color: rgb(39 129 231);
  border: 1px solid rgb(39 129 231);
  border-radius: 0.5em;
  padding: 0.8em 4em 0.8em 4em;
  margin-right: 1em;
  font-size: 110%;
}

header #partner-tag #button-2 {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.5em;
  padding: 0.8em;
  margin-right: 1em;
  font-size: 110%;
}

/*          main starts             */

main #partner-zomato-tag {
  margin: 5% 0% 0% 22%;
  width: 60%;
}

main #partner-zomato-tag h1 {
  font-size: 240%;
  font-weight: 400;
  margin-left: 2.5em;
}
main #partner-zomato-tag #partner-p1 {
  margin: 1em 1em 1em 2.5em;
  font-size: 135%;
  font-weight: normal;
  color: grey;
  width: 100%;
}
main #partner-zomato-tag #partner-p2 {
  margin: 1em 1em 1em 2.5em;
  font-size: 135%;
  font-weight: normal;
  color: grey;
  width: 100%;
}
main #partner-zomato-tag ul {
  margin: 2.5em 0em 15em 0em;
  width: 100%;
}
main #partner-zomato-tag ul li {
  list-style: none;
  float: left;
  padding: 0.8em 0.4em 0.8em 0.4em;
  margin: 0.8em;
  width: 28%;
  border-radius: 0.5em;
  box-shadow: rgb(241 241 241) 1px 1px 10px 1px;
}
main #partner-zomato-tag ul li img {
  margin: 1em 0em 0em 1em;
}
main #partner-zomato-tag ul li ul {
  float: right;
  margin: 1em 0em 1em 1em;
  width: 70%;
}
main #partner-zomato-tag ul li ul .list-1 {
  float: none;
  color: rgb(39 129 231);
  padding: 0em 0em 0.2em 0em;
  width: 100%;
  font-size: 150%;
  margin: 0em;
  box-shadow: none;
}
main #partner-zomato-tag ul li ul .list-2 {
  color: rgb(79 79 79);
  padding: 0em;
  margin: 0em;
  box-shadow: none;
  width: 100%;
}

main #main-image-2 {
  margin-bottom: 15em;
}

main #how-it-work-tag {
  margin-left: 8em;
  padding: 1em;
  width: 80%;
  position: absolute;
  top: 118%;
}

#how-it-work-tag h1 {
  margin: 0em 0em 0em 11em;
  font-size: 250%;
  font-weight: 400;
}
/* unorder list */
#how-it-work-tag ul {
  margin: 0em 0em 0em 6.5em;
  width: 100%;
}
#how-it-work-tag ul li {
  float: left;
  list-style: none;
  padding: 1em 1em 1em 1em;
  width: 21%;
  margin: 2em 1em 1em 1em;
  background-color: white;
  box-shadow: rgb(244 244 244) 1px 1px 30px 10px;
}

#how-it-work-tag ul li ul {
  margin: 0em 0em 0em 0em;
  width: 14em;
}
#how-it-work-tag ul li ul .step-1-img-tag {
  list-style: none;
  padding: 2em 2em 2em 2em;
  border-color: rgb(255 252 241);
  border-radius: 5em;
  border: 0px solid;
  width: 30%;
  margin: 2em 1em 2em 3.5em;
  background-color: rgb(255 252 241);
  box-shadow: none;
}
#how-it-work-tag ul li ul .step-1-heading-tag {
  list-style: none;
  padding: 0.1em;
  border: 0px solid;
  width: 30%;
  margin: 0em 0em 0em 6em;
  box-shadow: none;
}
#how-it-work-tag ul li ul .step-1-heading4-tag {
  list-style: none;
  padding: 0em 0em 0em 0em;
  border: 0px solid;
  width: 100%;
  font-weight: lighter;
  font-size: 90%;
  color: rgb(79 79 79);
  margin: 0em 0em 0em 1em;
  box-shadow: none;
}
#how-it-work-tag ul li ul .step-1-para-tag {
  list-style: none;
  padding: 0.5em;
  border: 0px solid;
  width: 100%;
  color: rgb(135 134 140);
  font-weight: 300;
  font-size: 90%;
  margin: 0em 0em 0em 0.5em;
  box-shadow: none;
  display: none;
}

main #listed-tag {
  position: relative;
}
main #listed-tag h1 {
  position: absolute;
  top: 25%;
  left: 28%;
  font-size: 250%;
  font-weight: 400;
  text-align: center;
}
main #listed-tag p {
  position: absolute;
  top: 35%;
  left: 30%;
  font-size: 135%;
  font-weight: normal;
  color: grey;
  padding: 1% 0% 1% 0%;
}
main #listed-tag #search-bar-tag {
  width: 55%;
  border: 1px solid lightgray;
  position: absolute;
  top: 50%;
  left: 22%;
  border-radius: 0.5em;
  background-color: white;
}

main #listed-tag #search-bar-tag #input-1 {
  width: 15%;
  padding: 1em 2em;
  margin: 0.1%;
  border-radius: 0.5em 0em 0em 0.5em;
  border: none;
  border-right: 1px solid lightgray;
}
main #listed-tag #search-bar-tag #input-2 {
  width: 67%;
  padding: 1em 2em;
  margin: 0.1%;
  border-radius: 0em 0.5em 0.5em 0em;
  border: none;
}

main #listed-tag #input-2[placeholder],
#input-1[placeholder] {
  margin-left: 0em;
  padding-left: 1em;
  font-size: 100%;
}
main #product-tag {
  width: 80%;
  margin: 0% 0% 1% 10%;
}
main #product-tag h1 {
  margin: 6% 0% 2% 40%;
}
main #product-tag ul {
  width: 100%;
  margin: 5% 0% 0% 1%;
  padding: 0% 0% 0% 8%;
}
main #product-tag ul .product-list-1 {
  float: left;
  width: 24.2%;
  padding: 0%;
  margin: 1% 0% 0% 2%;
  border-radius: 0.5em;
  box-shadow: rgb(244 244 244) 1px 1px 10px 1px;
}

main #product-tag ul .product-list-1 .product-unorderlist {
  width: 100%;
  padding: 0% 0% 0% 0%;
  margin: 0%;
}
main #product-tag ul .product-list-1 .product-unorderlist .h1-list {
  margin: 4%;
  font-weight: 100;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main #product-tag ul .product-list-1 .product-unorderlist .para-list {
  margin: 4%;
  font-weight: 300;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: grey;
}
main #product-tag ul .product-list-1 .product-unorderlist .link-list {
  margin: 5% 5% 5% 4%;
}
main #product-tag ul .product-list-1 .product-unorderlist .link-list a {
  text-decoration: none;
  color: rgb(55 138 232);
  font-size: 110%;
  font-weight: 300;
}
main #sign-up-tag {
  clear: both;
  width: 70%;
  margin: 0% 0% 0% 7%;
  padding: 8% 8% 5% 8%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main #sign-up-tag h1 {
  font-size: 250%;
  font-weight: 500;
  margin: 2% 0% 2% 4%;
  color: black;
}
main #sign-up-tag p {
  width: 75%;
  font-size: 130%;
  font-weight: 300;
  margin: 2.5% 0% 2.5% 4%;
  color: grey;
}
main .sign-up-div {
  width: 50%;
  margin: 1% 0% 1% -1%;
  padding: 2% 0% 2% 0%;
}
main .sign-up-div span {
  border: solid 1px grey;
  border-radius: 5em;
  padding: 1% 2% 1% 2%;
  margin: 0% 1% 0% 10%;
  font-weight: 100;
  font-size: 80%;
  color: rgb(54 54 54);
}

main .sign-up-div span:hover {
  background-color: rgb(228 238 250);
  border: solid 1px rgb(39 129 231);
  color: rgb(39 129 231);
}
main .sign-up-div h2 {
  color: rgb(54 54 54);
  font-weight: 500;
}
main .sign-up-div h2:hover {
  color: rgb(39 129 231);
}
main .sign-up-div p {
  padding: 0% 0% 0% 16%;
}
main #backgound-img {
  position: absolute;
  width: 30%;
  top: 325%;
  left: 48%;
}
main #backgound-img #back-img {
  width: 100%;
  height: 100%;
}
main #backgound-img #phone-img {
  display: block;
  position: absolute;
  width: 45%;
  height: 110%;
  top: 0%;
  left: 25%;
}
main .sign-up-div span:hover > #backgound-img #phone-img {
  display: none;
}
main #journey-tag {
  position: relative;
  margin: 10% 0% 0% 4%;
}
main #journey-tag h1 {
  position: absolute;
  top: 5%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 230%;
  font-weight: 300;
}
main #journey-tag p {
  position: absolute;
  top: 25%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
  margin-top: 4%;
}
main #journey-tag button {
  position: absolute;
  top: 60%;
  left: 4%;
  padding: 0.8em 2.5em;
  background-color: rgb(39 129 231);
  color: white;
  border-radius: 0.5em;
  border: none;
  font-size: 100%;
}
main #faq-tag {
  margin: 5% 0% 0% 0%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main #faq-tag h1 {
  font-size: 230%;
}
main #faq-tag ul {
  font-size: 110%;
  color: rgb(28 28 28);
  margin-left: 4%;
}
main #faq-tag ul li {
  padding: 1.2em 2em 1.2em 1em;
  border: 1px solid rgb(244 244 244);
  border-radius: 0.5em;
  margin: 2% 0% 0% 0%;
}
main #faq-tag ul li ul {
  display: none;
  font-size: 100%;
  font-weight: 200;
  color: rgb(54 54 54);
}
main #faq-tag ul li ul #faq-nest-tag {
  margin: 2% 0% 0% -4%;
  padding: 1em 0em;
  width: 100%;
  border: 1px solid rgb(244 244 244);
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}
main #faq-tag ul li:hover > ul {
  display: block;
}
main #know-more-tag {
  position: relative;
  margin: 0%;
}
main #know-more-tag #know-more-neat-tag {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 40%;
  height: 60%;
}
main #know-more-tag #know-more-neat-tag h1 {
  font-size: 230%;
  font-weight: 500;
  margin: 10% 0% 0% 30%;
}
main #know-more-tag #know-more-neat-tag p {
  font-size: 120%;
  color: black;
  margin: 5% 0% 5% 30%;
}

main #know-more-tag #know-more-neat-tag a {
  text-decoration: none;
  font-size: 120%;
  color: rgb(79 79 79);
  margin: 0% 0% 0% 30%;
}
main #know-more-tag #know-more-neat-tag #contact-link-tag {
  text-decoration: none;
  font-size: 120%;
  color: rgb(83 156 238);
  margin: 5% 0% 0% 30%;
}
main #enquary-input-tag {
  position: absolute;
  width: 25%;
  top: 10%;
  left: 55%;
  padding: 2%;
  background-color: white;
  box-shadow: rgb(241 241 241) 1px 1px 10px 1px;
  border-radius: 0.5em;
}
main #enquary-input-tag input {
  width: 90%;
  padding: 1em 1em;
  margin: 2% 0% 2% 0%;
  border: 1px solid rgb(207 207 207);
  border-radius: 0.5em;
}
main #enquary-input-tag #submit {
  width: 100%;
  padding: 1em 1em;
  margin: 1% 0% 1% 0%;
  border: 1px solid rgb(207 207 207);
  border-radius: 0.5em;
  color: white;
  font-size: 110%;
  background-color: rgb(39 129 231);
}
main #enquary-input-tag input[placeholder] {
  font-size: 105%;
}
