body{
    width: 100%;
}

*{
    margin: 0px;
    padding: 0px;
}

.text-capitalize::first-letter{
    text-transform: capitalize;
}
#login {
    color: white;
    border: none;
    padding: 0;
    margin: 2rem 0rem 0rem 0rem;
    margin-left: 80%;
    position: absolute;
    background-color: transparent;
    font-weight: 300;
    font-size: 100%;
}
#login:hover{
    border-bottom: solid white 1px;
}
#signup {
    color: white;
    border: none;
    padding: 0;
    margin: 2rem 0rem 0rem 0rem;
    margin-left: 86%;
    position: absolute;
    background-color: transparent;
    font-weight:300;
    font-size: 100%;
}

#signup:hover{
    border-bottom: solid white 1px;
}
main img{
    position: inherit;
}

#location{
    position: absolute;
    background-color: white;
    top: 320px;
    width: 240px;
    height: 50px; 
    margin-left: 380px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid white;
    padding-left: 20px;
}

#location[placeholder]{
    text-align: center;
}

main h1{
    text-align: center;
    color: white;
    margin-left: 570px;
    margin-top: 140px;
    margin-bottom: 0px;
    font-size: 90px;
    font-style: italic;
    font-family:sans-serif;
    position: absolute;
    top: 0px;
    float: none;
}
main h2{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin-left: 370px;
    margin-top: 250px;
    margin-bottom: 0px;
    font-size: 40px;
    position: absolute;
    top: 0px;
    float: none;
}

a{
    display: block;
    text-decoration: none;
    font-size: 120%;
    padding: 10px 30px;
    color: rgb(54	54	54	);
    font-family: 'Montserrat', sans-serif;
    font-weight: 520;
    
}
main select {
    display: block;
    border: 1px solid white;
    position: absolute;
    background-color: rgb(255	255	255	);
    width: 300px;
    height: 52px;
    top: 320px;
    margin-left: 360px; 
    border-radius: 10px 0px 0px 10px; 
    border-right: 1px solid gray; 
    border-spacing:10em;
    padding-left: 40px;
    font-size: 20px;
    }

main input{
    position: absolute;
    background-color: white;
    top: 320px;
    width: 460px;
    height: 50px; 
    margin-left: 642px;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid white;
    padding-left: 20px;
}
main input[placeholder]{
    font-size: 15px;
}
#orders{
    clear: both;
}
#orders ul{
    margin: 2em 0em 0em 10.5em;

}
#orders ul li{
    float: left;
    text-align: center;
    list-style-type: none;
    padding: 0px 0px 15px 0px; 
    border-radius: 1em 1em 1em 1em;
    border: 1px solid rgb(232	232	232	);
    margin-right: 5px;
    margin:1px;


}
#orders ul li:hover{
    box-shadow: 0px 0px 10px 5px  rgb(231, 230, 230);
    cursor: pointer;
}

#orders ul li{
    float: left;
    text-align: center;
    list-style-type: none;
    padding: 0px 0px 15px 0px; 
    border-radius: 1em 1em 1em 1em;
    border: 1px solid rgb(232	232	232	);
    margin-right: 5px;

}
#orders ul li img{
    border-radius: 1em 1em 0em 0em;
    border: 0px solid rgb(232	232	232	);
}
#orders ul .change_colour{
    background-color:red;
}

section h2{ 
    clear: left;
    font-family: Verdana;
    font-size: 35px;
    font-weight:300;
    margin: 1em 0em 0em 4.8em;
    padding-top: 2em;    
}
section p{
    margin: .5em 0em 0em 9em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 19px;
    float: left;
}
#link a{
    float: left;
    color: rgb(233	73	90);
    font-size: 16px;
    font-weight: 100;
    margin: .9em 1em 0em 6em;
    padding: 0;
}
#collectContainer{
    clear: both;
    position:relative;
}
#collectContainer ul{
    margin: 3.5em 0em 0em 10.5em; 

}
#collectContainer ul li{
    float: left;
    list-style-type: none;
    padding: 4px 4px 20px 4px; 
    border-radius: 10px;
    margin-right: 2px;
}
#collectContainer ul img{
    border-radius: 8px;
}
#collectContainer ul #imgl1{
    position:absolute;
    
}

#collectContainer ul li a{
    position: absolute;
    top: 12em;
    color: white;
    font-size: 20px;
    margin-left: 20px; 
    text-shadow: 20px 20px 30px rgba(255,255,255,.1);
}
h2#popular{
    clear: both;
    float: left;
    font-family:'Montserrat', sans-serif; 
    font-weight:300;
    font-size: 2.2em;
    margin: 1em 0em .5em 11em;
    color: rgba(54	54	54);
}
#localities{
    clear: both;
    float: left;
    margin-bottom: 6em;
}
#localities ul{
    margin-left: 10em;
    overflow: scroll;
    height: 500px;
}
#localities ul li{
    float: left;
    width: 355px;
    height: 50px;
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin: 20px 10px;
    border: 1px solid rgb(232	232	232	);
    box-shadow: 2px 2px 6px rgb(248	248	248	);
    list-style-type: none;  
    border-radius: 10px;   
}

#localities ul li:hover{
    box-shadow: -2px 7px 4px rgb(248	248	248	);
}
#app{
    clear: both;
    background-color: rgb(254	251	247	);
    height: 500px;
}
#app h2{
    clear: right;
    font-size: 2.5em;
    font-weight:500;
    margin: 0em 0em 0em 16em;
    padding: 2em 0em 0em 0em;
}
#app img{
    float: left;
    margin: 2% 0% 0% 25%;
}

#app p{
    float: left;
    clear: right;
    margin: 25px 25px 0px 25px;
    font-weight: 100;
    font-size: 16px;
    width: 425px;
}
section #app form{
    clear: right;
    margin: 5em 0em 0em 0em;
}
section #app form #mailfild{
    margin: 1em 0em 0em 1em;
    padding: 16px 30px 16px;
    border: 1px solid rgb(207	207	207	);
    border-radius: 5px;
}
section #app form #mailfild[placeholder]{
    color: rgb(195	195	195	);
    font-size: 18px;
}
section #app form #submitfild{
    margin: 0em 0em 0em 0.2em;
    padding: 16px 28px 16px;
    background-color: rgb(234	90	107	);
    border: 0px solid rgb(234	90	107	);
    border-radius: 5px;
    color: white;
    font-size: 18px;
}
section #app #applink #ios1{
    clear: right;
    margin: 1em 0em 0em 1.1em;
    width: 150px;
    height: 40px;
    padding: 0;
}
section #app #applink #android1{
    clear: right;
    margin: 0.4em 0em 0em .5em;
    width: 170px;
    height: 60px;
    padding: 0;
}

#Explore{
    background-color: rgb(252	252	252	);
    height: 1500px;
}
#Explore h3{
    float: left;
    font-family: 'Montserrat', sans-serif;
    margin: 3em 0em 0em 4em;
    font-size: 2.5em;
    font-weight:100;
}
#Explore h4{
    float: left;
    clear: both;
    font-family: 'Montserrat', sans-serif;
    margin: 1em 0em 0em 6.8em;
    font-size: 1.5em;
    font-weight:400;
}

#Explore #nearme ul{
    margin: 2em 6em 1em 9.5em; 
    clear: both;
    float: left;
}
#Explore #nearme ul li{
    list-style-type: none;
    float: left;
    padding: 0px 0px 2.5px 10px;
    margin: 0em 0em 0em 0em; 
    color: rgb(130	130	130	);
    
}
#Explore #nearme ul li a{
    color: rgb(130	130	130	);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}
#Explore #typesnear ul{
    clear: both;
    float: left;
    margin: 2em 6em 1em 9.5em; 
}

#Explore #typesnear ul li{
    list-style-type: none;
    float: left;
    padding: 0px 0px 3px 10px; 
}
#Explore #typesnear ul li a{
    color: rgb(130	130	130	);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}

#Explore #typesnear h4{
    padding-top: 1em;
    clear: both;
    float: left;
    font-family: 'Montserrat', sans-serif;
    margin: 2em 0em 0em 6.8em;
    font-size: 1.5em;
    font-weight:400;
}

#Explore .chains h4{
    clear: both;
    float: left;
    font-family: 'Montserrat', sans-serif;
    margin: 4em 0em 1em 6.8em;
    font-size: 1.5em;
    font-weight:400;
}
#Explore .chains ul{
    clear: both;
    margin: 0em 5em 0em 8em;
}
#Explore .chains ul li{
    list-style-type: none;
    float: left;
    padding: 0px 0px 2.5px 10px;
    width: 16%;
}

#Explore .chains ul li a{
    color: rgb(130	130	130	);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    clear: both;
}
#Explore #cites h4{
    clear: both;
    float: left;
    font-family: 'Montserrat', sans-serif;
    margin: 4em 0em 0em 6.8em;
    font-size: 1.5em;
    font-weight:400;
}

#Explore #cites ul{
    float: left;
    clear: both;
    margin: 2em 8em 0em 8em; 
}
#Explore #cites ul li{
    list-style-type: none;
    float: left;
    padding: 0px 0px 0px 5px;
    width: 18%;
}
#Explore #cites ul li a{
    color: rgb(130	130	130	);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

#Explore #cites ul #seemore a{
    color: black;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 80px;
}

                        
                            /*  footer  */
                
footer{
    background-color: rgb(248	248	248	);
    height: 400px;
}
footer h1{

    margin: 0em 0em 1em 4em;
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 600;
    padding-top: 1em;
}
                        /*footer company*/
footer #company h2{
    margin: 0em 0em .5em 2em;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
footer #company ul{
    float: left;
    margin: 0em 0em 0em 8em;
}

footer #company ul li{
    list-style: none;
    margin: 0em 0em 0em 0em;
    font-size: 12px;
}

footer #company ul li a{
    color: rgb(105	105	105	);
    font-weight: 100;
    padding-top: 0;
}
                       /*footer foodies*/
footer #foodies h2{
    margin: 0em 0em .5em 2em;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    
}
footer #foodies ul{
    float: left;
    clear: right;
    margin: 0em 0em 0em 2em;
}
footer #foodies ul li{
    list-style: none;
    margin: 0em 0em 0em 0em;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;  
}
footer #foodies ul li a{
    color: rgb(105	105	105	);
    font-weight: 100;
    padding-top: 0;
}
                        /*footer restaurant*/

footer #restaurant h2{
    margin: 0em 0em .5em 2em;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
footer #restaurant ul{
    float: left;
    clear: right;
    margin: 0em 0em 0em 2em;
}
footer #restaurant ul li{
    list-style: none;
    margin: 0em 0em 0em 0em;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
footer #restaurant ul li a{
    color: rgb(105	105	105	);
    font-weight: 100;
    padding-top: 0;
}
footer #restaurant ul li a:hover{
    color: black;
}
                        /*footer foryou*/

footer #foryou h2{
    margin: 0em 0em .5em 2em;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight:400;
}
footer #foryou ul{
    float: left;
    margin: 0em 0em 4em 2em;
}
footer #foryou ul li{
    list-style: none;
    margin: 0em 0em 0em 0em;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
footer #foryou ul li a{
    color: rgb(105	105	105	);
    font-weight: 100;
    padding-top: 0;
}

                            /*social links*/

footer #sociallink{
    float: left;
    margin: 0em em 0em 6em;
}

footer #sociallink h3{
    margin: 0em 0em .5em 5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight:400;
    
}
footer #sociallink ul{
    margin: 0em 0em 0em 4.5em;
}
footer #sociallink ul li{
    float: left;
    list-style: none;
}
footer #sociallink ul li a{
    margin: 0em;
    padding: 5px;
}
footer #sociallink #fb, #twt, #insta{
    width: 28px;
    height: 24px;
    margin: 0em 0em 0em 0em;
    padding: 0;
}

footer #sociallink #ios{
    float: left;
    clear: left;
    margin: 0em 0em 0em 2em;
    width: 150px;
    height: 40px;
    padding: 0px 0px 0px 10px;
}

footer #sociallink #android{
    float: left;
    clear: left;
    margin: 0em 0em 0em 2em;
    width: 170px;
    height: 60px;
    padding: 0px 0px 0px 0px;
}

                        /*copy right*/

footer #copyrigth p{
    clear: both;
    color: rgb(87	87	87);
    margin: 0em 15em 0em 10em;
    padding: 30px 0px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    border-top: 1px solid rgb(130	130	130);
    font-weight: 100;
    font-size: 14px;
}
#hotels ul{
    display: block;
    width: 32%;
    position: absolute;
    background-color: whitesmoke;
    top: 46%;
    left: 46%;
    border-radius: .4rem;
    overflow: scroll;
    height: 40%;
    list-style: none;
}
main #hotel:focus > #hotels ul li{
    display: none;
}
#hotels ul li{
    margin-left: 10%;
    padding-left: 10%;
}
