body{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    border: 1px solid grey;
    border-radius: 1rem;
    background-color: rgb(234	90	107	);
    height: fit-content;
}
main{
    background-color: rgba(255,255,255,.5);
    border-radius: 1rem;
    height: 70%;
}
h1{
    color: rgb(80	80	80	);
    text-align: left;
    margin-left: 5%;
}

#name input{
    width: 40%;
    padding: 2%;
    border-radius: 1rem;
    border: 1px solid grey;
    margin-left: 10%;
    margin-top: 4%;
}

#email input{
    width: 40%;
    padding: 2%;
    border-radius: 1rem;
    border: 1px solid grey;
    margin-left: 14.5%;
    margin-top: 4%;
}

#password input{
    width: 40%;
    padding: 2%;
    border-radius: 1rem;
    border: 1px solid grey;
    margin-left: 9.5%;
    margin-top: 4%;
}

#submit input{
    color: white;
    font-family: '.AppleSystemUIFont';
    font-size: 100%;
    width: 40%;
    padding: 2%;
    border-radius: 1rem;
    border: 1px solid whitesmoke;
    margin-left: 33%;
    margin-top: 5%;
    background-color: rgb(234	90	107	);
}
#error_message p{
    color: black;
    margin-left: 16%;
    margin-top: 0;
    padding: 0.5% 1% 1% 1%;
    position: absolute;
}

label{
    color: rgb(205	91	106	);
    margin-left: 10%;
    font-family: '.AppleSystemUIFont';
    font-size: 120%;
}
body a {
    color: crimson;
    text-decoration: none;
    font-family: '.AppleSystemUIFont';
}

#error_message label{
    color: rgb(80	80	80);
    margin-left: 0;
    padding-left: 0;
    font-size: small;
}
#error_message #terms{
    margin-top: 4%;
    margin-left: 10%;
}
#account {
    margin-left: 10%;
    color: rgb(80	80	80);
}

