@import '../../dinning/style/variables';

#reviews-aside{
    h2{
        color: $primary-black-color;
        font-size: 150%;
        font-weight: 500;
    }
    #main-continer{
        margin: 5% 0% 0% 0%;
        img{
            width: 25%;
            height: 20%;
            margin: 0% 0% 0% 35%;
        }
        p{
            padding: 4%;
            text-align: center;
            color: $secondry-black-color;
            font-size: 130%;
            font-weight:300;
        }
    }
}
#photos-aside{
    h2{
        color: $primary-black-color;
        font-size: 150%;
        font-weight: 500;
    }
    #main-continer{
        margin: 5% 0% 0% 0%;
        img{
            width: 25%;
            height: 20%;
            margin: 0% 0% 0% 35%;
        }
        p{
            padding: 4%;
            text-align: center;
            color: $secondry-black-color;
            font-size: 130%;
            font-weight:300;
        }
    }
}
#followers-aside{
    h2{
        color: $primary-black-color;
        font-size: 150%;
        font-weight: 500;
    }
    
    #main-continer{
        margin: 3% 0% 0% 0%;
        #button-1{
            background-color: white;
            padding: .6em 1em;
            border: 1px solid rgb(181,	181,	181	);
            border-radius: .4em;
            font-size: 90%;
            font-weight: 300;
            color: $grey-color;
            &:hover{
                background-color: rgb(248, 248, 248);
            }
        }
        #button-2{
            background-color: $zomato-brand-color;
            margin: 0% 0% 0% 2%;
            padding: .6em 1em;
            border: 1px solid $zomato-brand-color;
            border-radius: .4em;
            font-size: 90%;
            font-weight: 300;
            color: white;
            &:hover{
                background-color:rgb(252, 77, 77);
            }
        }
        img{
            width: 25%;
            height: 20%;
            margin: 0% 0% 0% 38%;
        }
        p{
            padding: 4%;
            text-align: center;
            color: $secondry-black-color;
            font-size: 130%;
            font-weight:300;
        }
    }
}
#viewed-aside{
    h2{
        color: $primary-black-color;
        font-size: 150%;
        font-weight: 500;
    }
    #viewed-tag{
        ul{
            ul{
                width: 30%;
                float: left;
                margin: 1% 2% 0% 0%;
                li{
                    color: $primary-black-color;
                    font-size: 100%;
                    margin: 2% 0%;
                    img{
                        width: 100%;
                        height: 160px;
                        border: solid 1px grey;
                        border-radius: .5em;
                    }
                    span{
                        color: $secondry-black-color;
                        font-size: 90%;
                    }
                }
            }
        }
    }
    #main-continer{
        margin: 5% 0% 0% 0%;
        img{
            width: 25%;
            height: 20%;
            margin: 0% 0% 0% 35%;
        }
        p{
            padding: 4%;
            text-align: center;
            color: $secondry-black-color;
            font-size: 130%;
            font-weight:300;
        }
    }
}
#blog-aside{
    h2{
        color: $primary-black-color;
        font-size: 150%;
        font-weight: 500;
    }
    #main-continer{
        margin: 5% 0% 0% 0%;
        img{
            width: 25%;
            height: 20%;
            margin: 0% 0% 0% 35%;
        }
        p{
            padding: 4%;
            text-align: center;
            color: $secondry-black-color;
            font-size: 130%;
            font-weight:300;
        }
    }
}
#address-aside{
    h2{
        color: $primary-black-color;
        font-size: 150%;
        font-weight: 500;
    }
    #main-continer{
        margin: 5% 0% 0% 0%;
        img{
            width: 25%;
            height: 20%;
            margin: 0% 0% 0% 35%;
        }
        p{
            padding: 4%;
            text-align: center;
            color: $secondry-black-color;
            font-size: 130%;
            font-weight:300;
        }
    }
    #address-form{
        width: 100%;
        height: 300px;
        border: 1px solid lightgrey;
        input{
            width: 100%;
            height: 300px;
            text-align: center;
            border: none;
        }
        input[placeholder]{
            font-size: 100%;
        }
    }
}